* {
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 241, 173);
    font-family: "Great Vibes", cursive;
}

section {
    padding: 10px;
}

p {
    text-align: center;
}

h1 {
    font-size: 25px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-list {
    background: #69a722;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gold;
}

#photoVeymont {
    height: 650px;
    background-image: url("Photos_projet1/veymont/DSC_0068_veymont.JPG");
    background-size: cover;
}

#Presentation{
    padding-bottom: 20px;
    
}

h2 {
    font-size: 25px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: left;
}

h3 {
    font-size: 25px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: center;
}

.nav-list>li {
    position: relative;
}

.sousmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -5px;
    background-color: #69a722;
    list-style: none;
    font-size: 15px;
}

.nav-list>li:hover .sousmenu {
    display: block;
}

.sousmenu>li>a {
    display: block;
    padding: 0.5em;
    white-space: nowrap;
    width: 100%;
}

h4 {
    font-size: 25px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: left;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}