* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 241, 173);
    font-family: "Great Vibes", cursive;
    height: 100%;
}

html {
    height: 100%;
}

#photoVeymont {
    padding: 40px;
}

p {
    text-align: center;
}

h1 {
    font-size: 30px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.nav-list {
    background: #69a722;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: gold;
}

#photoVeymont {
    height: 160%;
    background-image: url("Photos_projet1/veymont/DSC_0068_veymont.JPG");
    background-size: cover;
}

#Presentation {
    padding-bottom: 10px;
}

.A-propos {
    padding-bottom: 40px;
}


h2 {
    font-size: 30px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: left;
}

h3 {
    font-size: 30px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: center;
}

.nav-list>li {
    position: relative;
}

.sousmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #69a722;
    list-style: none;
    font-size: 20px;
}

.nav-list>li:hover .sousmenu {
    display: block;
}

.sousmenu>li>a {
    display: block;
    padding: 0.5em;
    white-space: nowrap;
    width: 100%;
}

h4 {
    font-size: 25px;
    color: gray;
    text-shadow: 1px 1px #333;
    text-align: left;
}

img {
    padding: 0px;
}

.article-randonnee {
    display: flex;
    flex-direction:column;
    /* align-items: center; */
}

.flex-container {
    /* display: flex;
    flex-direction: column; */
    justify-content:space-between;
}

.texte_rando {
    text-align: left;
}

form {
    margin: 0 auto;
    width: 1200px;
    padding-top: 20px;
    text-align: left;
}

label {
    line-height: 2;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#message {
    height: 200px;
}

input[type="submit"] {
    background: #283b63;
    color: white;
    padding: 5px 10px;
}

.labelburger,
#toggle {
    display: none;
}

button {
    background: #283b63;
   float: right; 
}


@media screen and (max-width:768px) {
    .main_pages {
        display: none;
        flex-direction: column;
        /* background: #48435C; */
        height: 220px;
    }

    .main_pages a {
        width: 50%;
    }

    .labelburger {
        display: flex;
        width: 30px;
        font-size: 40px;
        cursor: pointer;
        justify-content: left;
        align-items: initial;
        /* margin : 0 auto; */
        color: gray;
    }

    .nav-list {
        flex-direction: column;
        justify-content: left;
        font-size: 15px;
    }

    #toggle:checked+.main_pages {
        display: flex;
    }


    #photoVeymont {
        height: 400px;
        background-image: url("Photos_projet1/veymont/DSC_0068_veymont.JPG");
        background-size: cover;
    }

   

    .sousmenu>li>a {
        display:none
    }


    form {
        margin: 0 auto;
        width: 300px;
        padding-top: 15px;
        text-align: left;
    }

    label {
        line-height: 2;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

    #message {
        height: 200px;
    }

    input[type="submit"] {
        background: #283b63;
        color: white;
        margin:  20px 5px 180px 0px;
    }
button {
     margin:  0px 5px 400px 0px;
}
    
}
